body{
  background: #f1f1f1;
  font-family: 'Open Sans';
}
#app{
  margin: 10px auto;
  padding: 0px 20px 20px 20px;
}
.product-item {
    border-bottom: 1px solid #dfdfdf;
    cursor: pointer;
    padding: 5px 20px;
}
.product-list{
}
.product-item-title {
    font-weight: bold;
}
.product-item-price {
    margin-top: 5px;
    font-size: 1em;
}

.product-item-description{
}

.mainProductView-description {
    padding: 10px 15px;
}

.mainProductView-price {
    font-size: 1.3em;
    padding-bottom: 10px;
}

.mainProductView-color {
    font-size: 0.9em;
}

.mainProductView-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    font-size: 1.5em;
}

.uploadBtn {
    width: 100%;
    height: 290px;
    background: #92887e;
}

.uploadBtn {
    height: 274px;
    background: #92887e;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    transition: background 500ms;
}

.uploadBtn:hover{
  background: #a5998d;
}

.product-item-active:before {
    content: '';
    background: #91887e;
    width: 5px;
    height: 100%;
    position: absolute;
    z-index: 1;
    margin: -5px -20px;
}

.subpreview{
  cursor: pointer;
  border-radius: 50%;
}
.viewer, .list, #detail{
  background: #fff;
  float: left;
  border-bottom: 1px solid silver;
}
.viewer img{
  width: 100%;
}
#viewer{
  overflow: hidden;
}
#list{
  overflow-y: scroll;
  overflow-x: hidden;
}

#detail {
    padding: 10px 10px;
}

