@include media-breakpoint-down(xs) {
  .product-item-title, .product-item-color, .product-item-price {
    font-size: 0.7em!important;
  }
  .oldPrice {
    display: inline-block;
  }
  .btnContainer{
    padding: 0px 10px!important;
  }
}

@include media-breakpoint-down(md) {
  .product-item-color {
    font-size: 0.9em;
  }
  .btnContainer{
    padding: 0px 15px;
  }
}
